body {
  margin: 5px;
  width: 250px;
}

body * {
  margin-top: 2px;
  margin-bottom: 2px;
}
h1 {
  color: rgba(70, 210, 160);
  font-weight: 150;
}

.btn-outline-success {
  color: rgba(70, 210, 160);
  border-color: rgba(70, 210, 160);
}

#search-button {
  width: 90%;
}

input {
  border-radius: 3px;
  padding: 5px;
  width: 90%;
  border-width: 1px;
}
