.left-section {
  width: 100%;
}
.restaurant-title {
  color: rgba(70, 210, 160);
  font-size: 3em;
  font-weight: 150;
  display: inline-block;
}

.extension-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
