.left-section {
  width: 75%;
}
.restaurant-title {
  color: rgba(70, 210, 160);
  font-size: 3em;
  font-weight: 150;
  display: inline-block;
  justify-content: space-around;
}
.right-section {
  width: 25%;
  padding-top: 10%;
  padding-left: 2.5%;
}

.extension-container {
  display: flex;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12%;
}
