.infobar-flex-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-content: space-between;
  justify-content: space-between;
}

.infobar-section {
  margin-right: 10px;
}
