.infobar-flex-container {
  /* display: flex;
  flex-direction: row;
  align-items: baseline;
  align-content: space-between;
  justify-content: space-between; */
}

.infobar-section {
  display: inline-block;
  margin-right: 8%;
}
